<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    
  <script src="/app.bundle.js"></script>
  <style>
    .App {
      text-align: center;
    }
    
    .Turborepo {
      font-size: 72px;
      background: linear-gradient(to right, #0099f7, #f11712);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .App-header {
      background-color: #18181b;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    .App-link {
      color: white;
    }
  </style>
</head>
<body style="padding:0px; margin:0px;" ng-app="AngularComponentDemo" ng-controller="sampleController">
  <div class="App">
    <header class="App-header">
      <h1 class="header">
        Angular JS App
        <div class="Turborepo">Turborepo Example!!!!!</div>
      </h1>
    </header>
  </div>
</body>
</html>